.light-rays-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

.light-rays-container canvas {
    display: block;
    width: 100%;
    height: 100%;
}